{"openapi":"3.1.0","info":{"title":"IRI Facility API reference implementation","description":"\nA simple implementation of the IRI facility API using python and the fastApi library.\n\nFor more information, see: [https://iri.science/](https://iri.science/)\n\n<img src=\"https://iri.science/images/doe-icon-old.png\" height=50 />\n","termsOfService":"https://www.somefacility.gov/terms-of-service","contact":{"name":"Facility API contact","url":"https://www.somefacility.gov/about/contact-us/"},"version":"1.0.0"},"servers":[{"url":"https://iri.slac.stanford.edu"}],"paths":{"/api/v1/facility":{"get":{"tags":["facility"],"summary":"Get Facility","description":"Get facility information","operationId":"getFacility","parameters":[{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Facility"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/facility/sites":{"get":{"tags":["facility"],"summary":"List Sites","description":"List sites","operationId":"getSites","parameters":[{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Name"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}},{"name":"short_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Short Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Site"},"title":"Response Getsites"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/facility/sites/{site_id}":{"get":{"tags":["facility"],"summary":"Get Site","description":"Get site by ID","operationId":"getSite","parameters":[{"name":"site_id","in":"path","required":true,"schema":{"type":"string","title":"Site Id"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Site"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/resources":{"get":{"tags":["status"],"summary":"Get all resources","description":"Get a list of all resources at this facility. You can optionally filter the returned list by specifying attribtes.","operationId":"getResources","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string","minLength":1,"title":"Name"}},{"name":"description","in":"query","required":false,"schema":{"type":"string","minLength":1,"title":"Description"}},{"name":"group","in":"query","required":false,"schema":{"type":"string","minLength":1,"title":"Group"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}},{"name":"resource_type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ResourceType"}},{"name":"current_status","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Status"}},{"name":"capability","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/AllocationUnit"},"minItems":1,"title":"Capability"}},{"name":"site_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Site Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Resource"},"title":"Response Getresources"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/resources/{resource_id}":{"get":{"tags":["status"],"summary":"Get a specific resource","description":"Get a specific resource for a given id","operationId":"getResource","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/incidents":{"get":{"tags":["status"],"summary":"Get all incidents without their events","description":"Get a list of all incidents. Each incident will be returned without its events.  You can optionally filter the returned list by specifying attributes.","operationId":"getIncidents","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Name"}},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Description"}},{"name":"status","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Status"}},{"name":"type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/IncidentType"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"From"}},{"name":"time","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Time"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"To"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}},{"name":"resource_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Resource Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}},{"name":"resolution","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Resolution"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Incident"},"title":"Response Getincidents"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/incidents/{incident_id}":{"get":{"tags":["status"],"summary":"Get a specific incident and its events","description":"Get a specific incident for a given id. The incident's events will also be included.  You can optionally filter the returned list by specifying attributes.","operationId":"getIncident","parameters":[{"name":"incident_id","in":"path","required":true,"schema":{"type":"string","title":"Incident Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Incident"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/events":{"get":{"tags":["status"],"summary":"Get all events","description":"Get a list of all events.  You can optionally filter the returned list by specifying attribtes.","operationId":"getEventsByIncident","parameters":[{"name":"incident_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Incident Id"}},{"name":"resource_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Resource Id"}},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Name"}},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Description"}},{"name":"status","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Status"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"From"}},{"name":"time","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Time"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"To"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"},"title":"Response Geteventsbyincident"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/status/events/{event_id}":{"get":{"tags":["status"],"summary":"Get a specific event","description":"Get a specific event for a given id","operationId":"getEventByIncident","parameters":[{"name":"event_id","in":"path","required":true,"schema":{"type":"string","title":"Event Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/capabilities":{"get":{"tags":["account"],"summary":"Get the list of capabilities","description":"Get a list of capabilities at this facility.","operationId":"getCapabilities","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"title":"Name"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Capability"},"title":"Response Getcapabilities"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/capabilities/{capability_id}":{"get":{"tags":["account"],"summary":"Get a single capability","description":"Get a single capability at this facility.","operationId":"getCapability","parameters":[{"name":"capability_id","in":"path","required":true,"schema":{"type":"string","title":"Capability Id"}},{"name":"modified_since","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Strict ISO8601 datetime. Only valid ISO8601 datetime strings are accepted.","example":"2026-02-21T12:00:00Z","title":"Modified Since"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Capability"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects":{"get":{"tags":["account"],"summary":"Get the projects of the current user","description":"Get a list of projects for the currently authenticated user at this facility.","operationId":"getProjects","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Project"},"type":"array","title":"Response Getprojects"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"security":[{"HTTPBearer":[]}],"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects/{project_id}":{"get":{"tags":["account"],"summary":"Get a single project","description":"Get a single project at this facility.","operationId":"getProject","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects/{project_id}/project_allocations":{"get":{"tags":["account"],"summary":"Get the allocations of the current user's projects","description":"Get a list of allocations for the currently authenticated user's projects at this facility.","operationId":"getProjectAllocationsByProject","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAllocation"},"title":"Response Getprojectallocationsbyproject"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects/{project_id}/project_allocations/{project_allocation_id}":{"get":{"tags":["account"],"summary":"Get a single project allocation","description":"Get a single project allocation at this facility for this user.","operationId":"getProjectAllocationByProject","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","title":"Project Id"}},{"name":"project_allocation_id","in":"path","required":true,"schema":{"type":"string","title":"Project Allocation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAllocation"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects/{project_id}/project_allocations/{project_allocation_id}/user_allocations":{"get":{"tags":["account"],"summary":"Get the user allocations of the current user's projects","description":"Get a list of user allocations for the currently authenticated user's projects at this facility.","operationId":"getUserAllocationsByProjectAllocation","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","title":"Project Id"}},{"name":"project_allocation_id","in":"path","required":true,"schema":{"type":"string","title":"Project Allocation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAllocation"},"title":"Response Getuserallocationsbyprojectallocation"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/account/projects/{project_id}/project_allocations/{project_allocation_id}/user_allocations/{user_allocation_id}":{"get":{"tags":["account"],"summary":"Get a user allocation of the current user's projects","description":"Get a user allocation for the currently authenticated user's projects at this facility.","operationId":"getUserAllocationByProjectAllocation","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","title":"Project Id"}},{"name":"project_allocation_id","in":"path","required":true,"schema":{"type":"string","title":"Project Allocation Id"}},{"name":"user_allocation_id","in":"path","required":true,"schema":{"type":"string","title":"User Allocation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAllocation"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/compute/job/{resource_id}":{"post":{"tags":["compute"],"summary":"Submit Job","description":"Submit a job on a compute resource\n\n- **resource**: the name of the compute resource to use\n- **job_request**: a PSIJ job spec as defined <a href=\"https://exaworks.org/psij-python/docs/v/0.9.11/.generated/tree.html#jobspec\">here</a>\n\nThis command will attempt to submit a job and return its id.","operationId":"launchJob","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobSpec"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/compute/job/{resource_id}/{job_id}":{"put":{"tags":["compute"],"summary":"Update Job","description":"Update a previously submitted job for a resource.\nNote that only some attributes of a scheduled job can be updated. Check the facility documentation for details.\n\n- **resource**: the name of the compute resource to use\n- **job_request**: a PSIJ job spec as defined <a href=\"https://exaworks.org/psij-python/docs/v/0.9.11/.generated/tree.html#jobspec\">here</a>","operationId":"updateJob","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobSpec"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/compute/status/{resource_id}/{job_id}":{"get":{"tags":["compute"],"summary":"Get Job Status","description":"Get a job's status","operationId":"getJob","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"historical","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean","description":"Strict boolean. Only true/false allowed (bool or string).","example":true},{"type":"null"}],"description":"Whether to include historical jobs. Defaults to true","default":true,"title":"Historical"},"description":"Whether to include historical jobs. Defaults to true"},{"name":"include_spec","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean","description":"Strict boolean. Only true/false allowed (bool or string).","example":true},{"type":"null"}],"description":"Whether to include the job specification. Defaults to false","default":false,"title":"Include Spec"},"description":"Whether to include the job specification. Defaults to false"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/compute/status/{resource_id}":{"post":{"tags":["compute"],"summary":"Get Job Statuses","description":"Get multiple jobs' statuses","operationId":"getJobs","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":0,"default":100,"title":"Limit"}},{"name":"historical","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean","description":"Strict boolean. Only true/false allowed (bool or string).","example":true},{"type":"null"}],"description":"Whether to include historical jobs. Defaults to false","default":false,"title":"Historical"},"description":"Whether to include historical jobs. Defaults to false"},{"name":"include_spec","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean","description":"Strict boolean. Only true/false allowed (bool or string).","example":true},{"type":"null"}],"description":"Whether to include the job specification. Defaults to false","default":false,"title":"Include Spec"},"description":"Whether to include the job specification. Defaults to false"}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"type":"object","additionalProperties":true},{"type":"null"}],"title":"Filters"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Job"},"title":"Response Getjobs"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/compute/cancel/{resource_id}/{job_id}":{"delete":{"tags":["compute"],"summary":"Cancel Job","description":"Cancel a job","operationId":"cancelJob","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/chmod/{resource_id}":{"put":{"tags":["filesystem"],"summary":"Put Chmod","description":"Change the permission mode of a file(`chmod`)","operationId":"chmod","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutFileChmodRequest"}}}},"responses":{"200":{"description":"File permissions changed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/chown/{resource_id}":{"put":{"tags":["filesystem"],"summary":"Put Chown","description":"Change the ownership of a given file (`chown`)","operationId":"chown","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutFileChownRequest"}}}},"responses":{"200":{"description":"File ownership changed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/file/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get File","description":"Output the type of a file or directory","operationId":"file","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"A file or folder path","title":"Path"},"description":"A file or folder path"}],"responses":{"200":{"description":"Type returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/stat/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Stat","description":"Output the `stat` of a file","operationId":"stat","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"A file or folder path","title":"Path"},"description":"A file or folder path"},{"name":"dereference","in":"query","required":false,"schema":{"type":"boolean","description":"Follow symbolic links","default":false,"title":"Dereference"},"description":"Follow symbolic links"}],"responses":{"200":{"description":"Stat returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/mkdir/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Post Mkdir","description":"Create directory operation (`mkdir`)","operationId":"mkdir","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostMakeDirRequest"}}}},"responses":{"201":{"description":"Directory created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/symlink/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Post Symlink","description":"Create symlink operation (`ln`)","operationId":"symlink","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostFileSymlinkRequest"}}}},"responses":{"201":{"description":"Symlink created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/ls/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Ls Async","description":"List the contents of the given directory (`ls`) asynchronously","operationId":"ls","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"The path to list","title":"Path"},"description":"The path to list"},{"name":"showHidden","in":"query","required":false,"schema":{"type":"boolean","description":"Show hidden files","default":false,"title":"Showhidden"},"description":"Show hidden files"},{"name":"numericUid","in":"query","required":false,"schema":{"type":"boolean","description":"List numeric user and group IDs","default":false,"title":"Numericuid"},"description":"List numeric user and group IDs"},{"name":"recursive","in":"query","required":false,"schema":{"type":"boolean","description":"Recursively list files and folders","default":false,"title":"Recursive"},"description":"Recursively list files and folders"},{"name":"dereference","in":"query","required":false,"schema":{"type":"boolean","description":"Show information for the file the link references.","default":false,"title":"Dereference"},"description":"Show information for the file the link references."}],"responses":{"200":{"description":"Directory listed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/head/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Head","description":"Output the first part of file/s (`head`)","operationId":"head","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"File path","title":"Path"},"description":"File path"},{"name":"bytes","in":"query","required":false,"schema":{"type":"integer","description":"The output will be the first NUM bytes of each file.","title":"Bytes"},"description":"The output will be the first NUM bytes of each file."},{"name":"lines","in":"query","required":false,"schema":{"type":"integer","description":"The output will be the first NUM lines of each file.","title":"Lines"},"description":"The output will be the first NUM lines of each file."},{"name":"skipTrailing","in":"query","required":false,"schema":{"type":"boolean","description":"The output will be the whole file, without the last NUM bytes/lines of each file. NUM should be specified in the respective argument through `bytes` or `lines`.","default":false,"title":"Skiptrailing"},"description":"The output will be the whole file, without the last NUM bytes/lines of each file. NUM should be specified in the respective argument through `bytes` or `lines`."}],"responses":{"200":{"description":"Head operation finished successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/view/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get View","description":"View file content (up to max 5242880 bytes)","operationId":"view","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"File path","title":"Path"},"description":"File path"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":5242880,"minimum":1,"description":"Value, in bytes, of the size of data to be retrieved from the file.","default":5242880,"title":"Size"},"description":"Value, in bytes, of the size of data to be retrieved from the file."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Value in bytes of the offset.","default":0,"title":"Offset"},"description":"Value in bytes of the offset."}],"responses":{"200":{"description":"View operation finished successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/tail/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Tail","description":"Output the last part of a file (`tail`)","operationId":"tail","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","minLength":1,"description":"File path","title":"Path"},"description":"File path"},{"name":"bytes","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"The output will be the last NUM bytes of each file.","title":"Bytes"},"description":"The output will be the last NUM bytes of each file."},{"name":"lines","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"The output will be the last NUM lines of each file.","title":"Lines"},"description":"The output will be the last NUM lines of each file."},{"name":"skipHeading","in":"query","required":false,"schema":{"type":"boolean","description":"The output will be the whole file, without the first NUM bytes/lines of each file. NUM should be specified in the respective argument through `bytes` or `lines`.","default":false,"title":"Skipheading"},"description":"The output will be the whole file, without the first NUM bytes/lines of each file. NUM should be specified in the respective argument through `bytes` or `lines`."}],"responses":{"200":{"description":"`tail` operation finished successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/checksum/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Checksum","description":"Output the checksum of a file (using SHA-256 algotithm)","operationId":"checksum","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"Target system","title":"Path"},"description":"Target system"}],"responses":{"200":{"description":"Checksum returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/rm/{resource_id}":{"delete":{"tags":["filesystem"],"summary":"Delete Rm","description":"Delete file or directory operation (`rm`)","operationId":"rm","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"The path to delete","title":"Path"},"description":"The path to delete"}],"responses":{"200":{"description":"File or directory deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/compress/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Post Compress","description":"Compress files and directories using `tar` command","operationId":"compress","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCompressRequest"}}}},"responses":{"201":{"description":"File and/or directories compressed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/extract/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Post Extract","description":"Extract `tar` `gzip` archives","operationId":"extract","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostExtractRequest"}}}},"responses":{"201":{"description":"File extracted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/mv/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Move Mv","description":"Create move file or directory operation (`mv`)","operationId":"mv","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostMoveRequest"}}}},"responses":{"201":{"description":"Move file or directory operation created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/cp/{resource_id}":{"post":{"tags":["filesystem"],"summary":"Post Cp","description":"Create copy file or directory operation (`cp`)","operationId":"cp","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCopyRequest"}}}},"responses":{"201":{"description":"Copy file or directory operation created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"304":{"description":"Not Modified"}},"x-iri":{"maturity":"production","implementation":{"level":"required"}}}},"/api/v1/filesystem/download/{resource_id}":{"get":{"tags":["filesystem"],"summary":"Get Download","description":"Download a small file (max 5242880 Bytes)","operationId":"download","security":[{"HTTPBearer":[]}],"parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","title":"Resource Id"}},{"name":"path","in":"query","required":true,"schema":{"type":"string","description":"A file to download","title":"Path"},"description":"A file to download"}],"responses":{"200":{"description":"File downloaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"401":{"description":"Unauthorized","headers":{"WWW-Authenticate":{"description":"Bearer authentication challenge","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"405":{"description":"Method Not Allowed","headers":{"Allow":{"description":"Allowed HTTP methods","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schema
[...]
